@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: grid;
  place-items: center;
  height: 100%;
  height: 100vh;
  overflow: hidden;
}

.noScroll div::-webkit-scrollbar {
  display: none;
}
.noScroll div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pages {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 3;
  overflow: hidden;
}

.pages_wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.page--hidden {
  display: none;
}

.page--welcome {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.page--headband {
  position: absolute;
  max-width: 1150px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.page--headband .message--sub {
  max-width: 750px;
}

.page--sounds,
.page--brandlogo {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  max-width: 600px;
  /* border: 1px solid red; */
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.page--battery {
  position: absolute;
  top: 50%;
  left: 75%;
  width: fit-content;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.page--construction {
  position: absolute;
  top: 0;
  bottom: 0;
}

.message {
  color: #fff;
  font-family: "Anton";
  font-size: 150px;
  line-height: 170px;
  z-index: 99999;
}

.message--sub {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin-top: -80px;
}

.comprar {
  padding: 12px 26px;
  background-color: #b249ed;
  color: #fff;
  outline: none;
  border: none;
  font-family: "Roboto";
  font-size: 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 9999;
  pointer-events: auto;
  cursor: pointer;
}

.mlz {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

.footer-img {
  position: absolute;
  top: 150%;
  width: 100px;
  height: auto;
  background-color: #ffffffb2;
  padding: 7px 10px;
  border-radius: 15px;
}
.scroll-down {
  position: absolute;
  top: 157%;
  width: 100px;
  height: auto;
}

.page--headband .footer-img {
  top: 190%;
  background-color: #ffffffb2;
  padding: 7px 10px;
  border-radius: 15px;
}
.page--sounds .footer-img {
  top: 110%;
  left: 110%;
  background-color: #ffffffb2;
  padding: 7px 10px;
  border-radius: 15px;
}
.page--battery .footer-img {
  top: 110%;
  left: -70%;
  background-color: #ffffffb2;
  padding: 7px 10px;
  border-radius: 15px;
}
.page--construction .footer-img {
  top: 90%;
  background-color: #ffffffb2;
  padding: 7px 10px;
  border-radius: 15px;
}
.page--brandlogo .footer-img {
  top: 110%;
  background-color: #ffffffb2;
  padding: 7px 10px;
  border-radius: 15px;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@media only screen and (max-width: 1280px) {
  .page--sounds {
    max-width: 700px;
  }
  .page--battery {
    position: absolute;
    top: 50%;
    left: 80%;
    width: fit-content;
  }

  .message {
    font-size: 90px;
    line-height: 150px;
  }

  .message--sub {
    font-size: 24px;
    margin-top: -80px;
  }

  .scroll-down {
    top: 160%;
  }
  
  .page--headband .footer-img,
  .page--sounds .footer-img,
  .page--battery .footer-img,
  .page--construction .footer-img {
    display: none;
  }
  .page--sounds .footer-img {
    top: 110%;
    left: 90%;
  }
  .page--battery .footer-img {
    left: -90%;
  }
  .page--brandlogo .footer-img {
    top: 115%;
  }

  .page--sounds {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 100%;
    background-color: #24242462;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .page--brandlogo {
    position: absolute;
    top: 63%;
    left: 22%;
    width: 100%;
    background-color: #24242462;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .page--brandlogo .message {
    line-height: 120px;
  }

  .page--battery {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 90%;
    text-align: center;
    background-color: #24242462;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .page--construction {
    position: absolute;
    top: 60%;
    text-align: center;
    width: 100%;
  }

  .page--construction .message {
    line-height: 120px;
  }


}

@media (max-width: 600px) {
  .page--welcome .message {
    font-size: 60px;
    margin-top: -150px;
  }

  .message {
    font-size: 52px;
    line-height: 70px !important;
  }

  .message--sub {
    font-size: 16px;
    max-width: 90% !important;
    text-align: center;
    margin-top: -40px;
  }

  .footer-img {
    top: -50%;
  }
  .scroll-down {
    top: 150%;
    margin-top: 50px;
  }

  .page--headband .footer-img,
  .page--sounds .footer-img,
  .page--battery .footer-img,
  .page--construction .footer-img {
    display: none;
  }

  .page--sounds,
  .page--brandlogo {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 100%;
    background-color: #24242462;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .page--battery {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    background-color: #24242462;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }


  .page--construction {
    position: absolute;
    top: 46%;
    text-align: center;
    width: 100%;
  }
}
